body{
	margin: 0;
	padding: 0;

}
.welcome {
  text-align: center;
  color: white;
  padding-top: 200px;
  padding-left: 36%;
  padding-right: 36%;
  font-size: 15px;
}
.welcome span {
  padding-top: 5px;
}
#first{
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-size: cover;
}
h2 {
  text-align: center;
}
#m {
  padding-top: 200px;
  padding-bottom: 10px;
}
.about {
  padding:30px;
  text-align:center;
}
.about {
  padding:30px;
  text-align:center;
}

.service {
  padding: 80px;
}

.service h2 {
  text-align: center;
  color: white;
}
.service p {
  text-align: center;
  color: white;
}
#third {
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-size: cover;
}
what-we-do {
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.service-icon {
  padding:30px;
  text-align: center;
}
h4 {
  font-weight: bolder;
}
.designs {
  display: none;
  text-align: center;
  padding: 10px;
}
.dev {
  display: none;
  text-align: center;
  padding: 10px;
}
.products {
  display: none;
  text-align: center;
  padding: 10px;
}
.portfolio {
  padding-left: 40%;
  padding-right: 40%;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.col-sm-4 img {
  padding-left: 36%;
  padding-right: 36%;
}
.col-sm-4 #de {
  padding-top: 2px;
  padding-left: 36%;
  padding-right: 36%;
  font-weight: bold;
  font-size: 12px;
}
.col-sm-4 #d {
  padding-top: 2px;
  font-weight: bold;
  font-size: 12px;
  padding-left: 43%;
  padding-right: 43%;
}
.col-sm-4 #pro {
  padding-top: 2px;
  font-weight: bold;
  font-size: 12px;
  text-align:center;
}
#fifth {
  padding-left: 5%;
  padding-right: 5%;
}
#seventh {
  padding-right: 15%;
  padding-left: 15%;
}
#eighth {
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-size: cover;
  padding-top: 20px;
  margin-top: 20px;
}
.contact-us {
  color: white;
  padding: 60px;
}
.form-group {
  padding-left: 150px;
  padding-right: 50px;
}
.form-group input {
  background-color: transparent;
  color:white;
}

.form-group #messages {
  background-color: transparent;
  color: white;
  padding: 5px;
  margin: 5px;
}
#seventh h2 {
  display: none;
}
#eighth button {
  color: white;
}
.card-text {
  display: none;
  text-align: center;
}
.card-text h5 {
  font-weight:bolder;
  text-shadow: 1px 1px darkblue;
}
.social {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}
footer {
  text-align:center;
}
